
            
            *{ /* para formatear el lienzo*/
                margin: 0;
                padding: 0;
                list-style: none;
                font-family: 'Lucida Sans'; /* Google Fonts permite vinccula tipogafias*/
            }

            #chat{
                position: fixed;
                width: 250px;
                height: 40px;
                bottom: 0;
                right: 0px; /*posicion alejada o no del borde*/
                background: palegreen;
                z-index:1;
                color: fuchsia;
                text-align: center;
                line-height: 40px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 20px;
                border-radius: 20px 0px 0 0; /* primero esuin superior y los 0 0  esquina infrior*/
                cursor: pointer;
            }

            header{ /* caja principal */
                position: relative; /* siempre es igual*/
                margin: 20px auto; /* para centrar, si no colocar por ejemplo 20px 40px y se ubica */
                width: 1000px;
                height: 120px;
                /*background: pink;*/
            }
                #logo{
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    width: 200px ;
                    height:60px ;
                    /*background: rgb(219, 30, 141);*/
                    font-family:'Playball', cursive;
                    font-size: 60px;
                    text-align: center;
                    line-height: 55px;
                    color: teal;
                }

                    .redes{
                       position: absolute;
                        width: 42px ;
                        height: 42px;
                        background: rgb(219, 30, 141);
                        border-radius: 100%;
                        text-align: center;
                        line-height: 42px;
                        color: white;
                    }

                        #icono1{
                            top:42px;
                            right: 120px;
                            background: mediumspringgreen;
                        }
                        #icono2{
                            top:42px;
                            right: 71px;
                            background: mediumturquoise;
                        }
                        #icono3{
                            top:42px;
                            right: 19px;
                            background: mediumseagreen;
                        }


            nav{
                position: relative; /* siempre es igual*/
                margin: auto; /* para centrar, si no colocar por ejemplo 20px 40px y se ubica */
                width:1000px;
                height: 48px;
                background: rgb(219, 143, 156);
            }
                .botones{
                    float: left;
                    width: 196px;
                    margin:0px 2px ;
                    height: 48px;
                    background: rgb(211, 25, 140);
                    font-family:'Playball', cursive;
                    font-size: 30px;
                    color: mintcream;
                    text-align: center;
                    line-height: 48px;
                }
                    a .botones:hover{ /* que cuando pase el cursor sucda algo*/
                        background: teal;
                     }

                    a .botones:active{
                        background: rgb(43, 230, 158);
                    }


            #top{
                position: relative; /* siempre es igual*/
                margin: 20px  auto; /* para centrar, si no colocar por ejemplo 20px 40px y se ubica */
                width: 1000px;
                height: 192px;
               /* background: rgb(206, 39, 67);se usa para acomodar el top ul li*/
            }
                #top ul{
                    width: 1010px;
                    height:192px ;
                    /*background: rgb(219, 143, 156); se usa para acomodar el top ul li*/
                } 
                #top ul li{
                    float: left;
                    width: 326px;
                    margin-right: 10px;
                    height:192px;
                /*background: rgb(255, 200, 230);*/
                    margin-right: 10px;
                    text-align: center;
                }
                #top ul li img{
                    border-radius: 100%;
                    height: 100px;
                }
                #top ul li h1{
                    font-family:'Playball', cursive;
                }
                #top ul li p{
                    font-size: 14px;
                    margin: 10px;
                }

            section{
                position: relative; /* siempre es igual*/
                margin: auto; /* para centrar, si no colocar por ejemplo 20px 40px y se ubica */
                width:1000px;
                height: 453px;
                /*background: rgb(163, 67, 83);*/
            }

            aside#izq{
                position: absolute; 
                left: 0;
                top: 0;
                width: 200px;
                height:453px;
                /*background: rgb(240, 49, 122);*/
            }
    
                aside#izq ul li{
                    background: lightcoral;
                    padding: 10px;
                    margin:2px 10px ;
                    list-style: square; /*item cuadrdos*/
                    list-style-position: inside;
                   list-style-image:url(../img/lista.png);
                }
                aside#izq ul li a{
                    text-decoration: none;
                }
                    

            article{
                position: absolute; 
                left: 200px;
                top: 0;
                width: 600px;
                height:453px;
                /*background: rgb(255, 212, 212);*/
            }
                article h1{
                    font-family:'Playball', cursive;
                    font-size: 40px;
                    margin: 20px;
                }
                article p img{
                   float: left;
                   margin-right: 20px;
                }
                article p{
                   margin:5px 20px; 
                   font-size: 14px;
                   text-align: justify; /*alineacion*/
                }
            


            aside#der{
                position: absolute; 
                right: 0;
                top: 0;
                width: 200px;
                height:453px;
                /*background: rgb(240, 49, 122);*/
            }
                 aside#der h1{ /*formularioparte deltitulo*/
                     width: 200px;
                     height: 50px;
                     line-height: 50px;
                     text-align: center;
                     background: rgb(192, 10, 122) ;
                     color: wheat;
                     margin-bottom: 5px;
                }
                    aside#der input{
                        padding: 10px;
                        margin: 5px 0;
                        width: 176px;
                    }
                    aside#der input[type="text"]{
                        background:url(../img/1.png);
                        background-repeat: no-repeat ;
                        background-color: rgb(255, 244, 249);
                        background-position: right;
                        background-size: contain;
                    }
                    aside#der textarea#message{
                        padding: 10px;
                        margin: 5px 0;
                        width: 176px;
                        height: 175px;
                    }

                    aside#der input[type="submit"]{
                        width: 200px;
                        background: pink;
                        border:2;
                        border-color: rgb(219, 30, 141);
                        color: rgb(219, 30, 141);
                        font-family: monospace;
                        font-size: 15px;
                    }

                
            footer{
                position: relative; /* siempre es igual*/
                margin: 40px  auto; /* para centrar, si no colocar por ejemplo 20px 40px y se ubica */
                width: 1000px;
                height: 78px;
                background: rgb(206, 39, 67);
                text-align: center;
                line-height: 70px;
                color: ivory;
                background: rgb(211, 25, 140);
            }




        
 /* MARGENES
-AUTO: los margenes van a ser automáticos
-TOP: margen superior
-RIGHT:margen derecho
-BOTTOM: margen inferior
-LEFT: margen izquierdo
EJEMPLO = 30px 10px 50px 20px;

SI QUIERO UTILIZAR SOLO DOS VALORES
-VERTICAL
-HORIZANTAL

SI QUIERO USAR UN SOLO MARGEN
EJEMPLO = 0 0 50px 0;
          margin-left:20px;
          margin-to:20px;
*/